/* Mobile  */
.phone__container {}

.phone__container .phone__container--title {
  font-size: 20px;
  color    : #3f3f40;
  margin   : 16px 0;
  padding  : 0 16px;
}

.phone__container .list {
  margin : 0;
  padding: 0
}

.list .list__item {
  border-top: 1px solid #e3e4e6;
  padding   : 16px;
  ;
}

.list .list__item:last-child {
  border-bottom: 1px solid #e3e4e6;
}

.list .list__item--button {
  padding: 0;
}

.item__button--text {
  font-family : PoppinsLight, Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size   : 16px;
  color       : #3f3f40;
  font-weight : 300;
  padding-left: .5rem;
}

.item__button--icon-two {
  opacity: 0.4;
}

.list .list__item .list {
  margin-top: 20px;
}

.list .list__item .list .list__item:last-child {
  border-bottom : none;
  padding-bottom: 0;
}

/* drawer  */

.drawer_list {
  padding: 0;
  margin : 0;
}

.drawer_list--item {
  border-top: 1px solid #e3e4e6;
  padding   : 16px;
  ;
}

.drawer_list--item:last-child {
  border-bottom: 1px solid #e3e4e6;
}

.drawer__item--button {
  padding: 0;
}

.drawer_header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 16px;
}

.drawer_title {
  font-size  : 20px;
  color      : #3f3f40;
  font-weight: 700;
}

.drawer_back {
  font-family : PoppinsLight, Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size   : 16px;
  color       : #3f3f40;
  font-weight : 600;
  padding-left: 0.5rem;
}

/* DESKTOP  */
.desktop__container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : 32px;
  margin         : 0;
  padding        : 0;
  list-style     : none;
  height         : 75px;
}

.desktop__container .container__firstLevelItem--title {
  font-family   : PoppinsRegular, "sans-serif";
  text-transform: uppercase;
  padding-left  : 5px;
  color         : #fafafa;
  margin        : 0;
  line-height   : 75px;
  position      : relative;
}

.desktop__container .container__firstLevelItem--title::after {
  content         : '';
  position        : absolute;
  width           : 0;
  height          : 1px;
  background-color: #fff;
  left            : 0;
  bottom          : 25px;
  transition      : .5s all;
  white-space     : nowrap;
}

.desktop__container .container__firstLevelItem--title:hover::after {
  width: 100%;
}

.desktop__container--secondLevelItem {
  display        : flex;
  position       : absolute;
  width          : 100%;
  left           : 0;
  background     : #fff;
  padding        : 24px;
  justify-content: center;
  margin-top     : -15px;
}

.container__secondLevelItem--title {
  font-size    : 1.8rem;
  width        : fit-content;
  margin       : 0 0 20px 0;
  border-bottom: 1px solid #000;
}

.container__secondLevelItem--list {
  padding   : 0;
  list-style: none;
}

.secondLevelItem__list--button {
  font-family   : PoppinsLight;
  line-height   : 1.6em;
  color         : #000;
  text-transform: uppercase;
  font-weight   : 500;
  height        : 31px;
  display       : flex;
  align-items   : center;
  gap           : 8px;
  position      : relative;
  white-space     : nowrap;
}

.secondLevelItem__list--button::after {
  content         : '';
  position        : absolute;
  width           : 0;
  height          : 1px;
  background-color: #000;
  left            : 0;
  bottom          : 0;
  transition      : .5s all;
  white-space     : nowrap;
}

.secondLevelItem__list--button:hover::after {
  width: 100%;
}