/*MAIN SLIDER*/
@keyframes smooth-move{
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.05); opacity: 0.7;}
    100% {transform: scale(1); opacity: 1;}
}
.slideChildrenContainer--mainSlider{
    overflow: hidden;
}
.slideChildrenContainer--mainSlider :global(.vtex-store-components-3-x-imageElement--mainSlider){
    animation-name: smooth-move;
    animation-duration: 3s;
}

.caretIcon--mainSlider{
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
}
/*MAIN SLIDER*/

.sliderLayoutContainer--new-collection-caruosel{
    background-color: #ffffff;
    /* background-color: transparent; */
}

.sliderTrackContainer--new-collection-caruosel{
    background-color: #ffffff;
}

.sliderArrows--new-collection-caruosel{
    background: rgba(0,0,0, 0.6) !important;
    padding: 10px;
    color: #fafafa;
}

.slide--new-collection-caruosel{
    margin: 0 5px;
}

.slideChildrenContainer--featured-products-caruosel{
    /* border: 1px solid #eae9e9; */
    margin: 0px 25px;
}

.slideChildrenContainer--categories-featured-slider{
    margin-right: 15px;
    margin-left: 15px;
}

.sliderArrows--categories-featured-slider .caretIcon--categories-featured-slider{
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 10px;
}

.sliderArrows--cross-selling-carousel,
.sliderArrows--featured-products-caruosel {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: #fafafa;
    padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .sliderLayoutContainer--featured-products-caruosel,
    .sliderLayoutContainer--new-collection-caruosel{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .slideChildrenContainer--featured-products-caruosel{
        margin-left: 5px;
        margin-right: 5px;
    }

    .slideChildrenContainer--categories-featured-slider{
        margin-left: 15px;
        margin-right: 15px;
    }

    .sliderLayoutContainer--cross-selling-carousel{
        padding-left: 3% !important;
        padding-right: 3% !important;
    }

    .slide--cross-selling-carousel{
        margin-right: 5px;
        margin-left: 5px;
    }
}