.item{
    font-family: 'DinRegular';
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    z-index: 1000;
}

.element .nameContainer{
    padding-bottom: 10px;
}

.element .productNameContainer .brandName{
    font-family: 'DinRegular';
    font-size: 1.2rem;
}

.element--featured-products-product-summary .imageWrapper{
    border-bottom: 1px solid #eae9e9;
}