.trigger--disclosure-product-detailed-info-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    background-color: transparent;
    color: #000;
    border-bottom: 1px solid #000;
}

.trigger--disclosure-product-detailed-info-title:first-child{
    border-top:0;
}

.trigger--disclosure-product-detailed-info-title--hidden{
    border-bottom: 1px solid #000;
}

.trigger--disclosure-product-detailed-info-title--visible{
    border-bottom: 0;
}

.content--disclosure-content-pdp--visible{    
    padding: 10px 10px 30px 10px;
    margin-bottom: 10px;
    font-size: 0.875rem;
}

.content--disclosure-content-pdp--visible{
    border-bottom: 1px solid #000;
}

.content--disclosure-content-pdp :global(.vtex-rich-text-0-x-paragraph){
    font-size: 0.875rem;
    text-align: justify;
}

.content--disclosure-content-pdp :global(.vtex-store-components-3-x-productDescriptionContainer){
    text-align: justify;
}
