.stackContainer{
    border-bottom: 1px solid #eae9e9;
}

/*NEW COLLECTION*/
.stackItem--new-collection-stack-layout-banner--banner-badge-new-collection{
    margin: 0;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-15%);
}

/*FEATURED CATEGORIES*/
.stackItem--featured-category-image{
    max-width: 400px;
}

.stackItem--featured-category-call-to-action-row{
    background-color: #000;
    border: 1px solid #fff;
    border-right: 0;
    top: 75%;
    left: 40%;
    max-width: 240px;
    transition: all .4s ease-in-out;
}

.stackItem--featured-category-call-to-action-row:hover{
    background-color: #434445;
    border: 1px solid #f1f1f1;
    border-right: 0;
}
/*FEATURED CATEGORIES*/