/*SEARCH BAR HEADER*/
.autoCompleteOuterContainer--search-bar-header :global(.vtex-styleguide-9-x-input),
.autoCompleteOuterContainer--search-bar-header-pdp-plp :global(.vtex-styleguide-9-x-input),
.autoCompleteOuterContainer--search-bar-header :global(.vtex__icon-search){
    color: #fafafa;
}

.searchIcon--search-bar-header,
.searchBarIcon--search-bar-header-pdp-plp{
    color: #fafafa;
}

/*SEARCH BAR HEADER*/

/*TEASER BANNER FULL WIDTH*/
.infoCardContainer--teaser-full-width-info-card{
    min-height: 350px;
    background: #fff fixed no-repeat 40% 150px;
}

.headingLevel2--teaser-full-width-info-card{
    font-family: 'PoppinsLight';
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
}

.headingLevel2--teaser-full-width-info-card .strong--teaser-full-width-info-card{
    color: #000;
}

.infoCardTextContainer--teaser-full-width-info-card{
    position: absolute;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoCardCallActionContainer--teaser-full-width-info-card :global(.vtex-button){
    border-radius: 0;
}

.infoCardCallActionContainer--teaser-full-width-info-card :global(.vtex-button__label){
    font-family: 'PoppinsLight';
}

/*TEASER BANNER FULL WIDTH*/

/*FEATURED CATEGORIES*/
.imageElement--featured-category-image{
    -webkit-transition: filter .8s;
    -o-transition: filter .8s;
    transition: filter .8s;
}

.imageElement--featured-category-image:hover{
    filter: grayscale(80%);
}
/*FEATURED CATEGORIES*/

/*PROMO BANNERS*/
.infoCardImageContainer--info-card-promoBanner{
    overflow: hidden;
}

.infoCardImageContainer--info-card-promoBanner :global(.vtex-store-components-3-x-infoCardImage--info-card-promoBanner){
    -moz-transition: transform .8s;
    -o-transition: transform .8s;
    transition: transform .8s;
}

.infoCardImageContainer--info-card-promoBanner:hover :global(.vtex-store-components-3-x-infoCardImage--info-card-promoBanner){
    transform: scale(1.05);
}

.infoCardHeadline--info-card-promoBanner{
    font-family: 'PoppinsRegular';
}

.infoCardSubhead--info-card-promoBanner{
    font-family: 'PoppinsLight';
    font-size: 1.25rem;
    color: #464544;
}

.infoCardImage--info-card-promoBanner{
    box-shadow: 1px 1px 2px #cecece;
}

.infoCardCallActionContainer--info-card-promoBanner :global(.vtex-button){
    border-radius: 0px;
}
/*PROMO BANNERS*/

/*FEATURED CATEGORIES*/
.infoCardContainer--infocard-featured-categories{
    height: 600px;
    width: auto;
    align-items: end;
    border: 1px solid #000;
}

.infoCardTextContainer--infocard-featured-categories{
    width: 60%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.infoCardCallActionContainer--infocard-featured-categories :global(.vtex-button){
    border-radius: 0px;
}
/*FEATURED CATEGORIES*/

.discountInsideContainer{
    z-index: 998;
    background-color: #999;
    font-family: 'PoppinsBold';
    font-size: 1rem;
    left: 15px;
    top: 15px;
    right: 70%;
}

.heading--infocard-featured-categories{
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    text-shadow: 2px 1px 2px #fafafa;
    font-size: 2.8rem;
    text-align: center;
    line-height: 1em;
}

.paragraph--infocard-featured-categories{
    background-color: #000000;
    color: #ffffff;
}

.InfoCardCallActionContainer--infocard-featured-categories :global(.vtex-button):hover{
    background-color: #fafafa !important;
}


.autoCompleteOuterContainer :global(.vtex-input__suffix){
    background-color: transparent;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group), .autoCompleteOuterContainer :global(.vtex-input-prefix__group):hover{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fafafa;
}

.productBrand--product-name-pdp{
    font-family: 'PoppinsLight';
    font-size: 1.8rem;
}

.skuSelectorContainer--sku-selector-pdp .skuSelectorTextContainer{
    margin-bottom: 12px;
}

.skuSelectorContainer--sku-selector-pdp .skuSelectorName{
    font-family: 'PoppinsLight';
    font-size: 1rem;
}

.skuSelectorContainer--sku-selector-pdp .frameAround--sku-selector-pdp{
    border-radius: 0;
}

.skuSelectorItem--sku-selector-pdp{
    height: 25px;
}

.caretIcon--product-images-product-main{
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    color: #fafafa;
}

.productImage--product-images-product-main, 
.figure--product-images-product-main,
.productImage--product-images-pdp-mobile{
    border: 1px solid #000;
}

.content--product-description-pdp{
    text-align: justify;
}

.shippingContainer :global(.vtex-button){
    border-radius: 0;
}

/* PRODUCT IMAGES LIST */

.productImage--product-images-product-main{
    text-align: center;
}

.productImage--product-images-product-main:nth-child(even){
    width: 48%;
    display: inline-block;
    margin: 1%;
}

.productImage--product-images-product-main:nth-child(odd){
    width: 48%;
    display: inline-block;
    margin: 1%;
}

.productImage--product-images-product-main:first-child{
    width: 98%;
    display: block;
    margin: 1%;
}

/* SHARE */

.shareLabel{
    text-align: center;
}

.shareButtons{
    justify-content: center;
}

/* PRODUCT DETAILED IMAGE ZOOM */

.productNameContainer--product-name-detailed-image-zoom{
    margin-bottom: 10px;
}

.productBrand--product-name-detailed-image-zoom{
    font-family: 'PoppinsLight';
    font-size: 1.8rem;
}

/*MOBILE*/
/*PDP*/
.caretIcon--product-images-pdp-mobile{
    color: #979899;
}

@media screen and (min-width:320px) and (max-width:480px){
    .infoCardTextContainer--teaser-full-width-info-card{
        position: static;
    }

    .headingLevel2--teaser-full-width-info-card,
    .headingLevel2--teaser-full-width-info-card .strong--teaser-full-width-info-card{
        color: #fafafa;
    }
    
    .infoCardSubhead--info-card-promoBanner{
        font-size: 1rem;
        line-height: 1.2em;
    }

    .infoCardContainer--info-card-promoBanner{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .infoCardHeadline--info-card-promoBanner{
        font-size: 2rem;
    }

    .discountInsideContainer{
        top: 5px;
        right: 60%;
    }

    .productNameContainer--product-name-pdp{
        text-align: center;
    }

    .skuSelectorTextContainer{
        text-align: center;
    }

    .skuSelectorOptionsList{
        justify-content: center;
    }

    .shippingContainer{
        margin-bottom: 20px;
    }

    .shippingContainer :global(.vtex-dropdown__label){
        text-align: center;
    }

    .shareContainer{
        margin: 15px auto;
    }

    .logoContainer--logo-mobile{
        padding: 0px;
    }
}