.menuContainerNav--header-departments-menu .styledLinkContent{
    font-family: 'PoppinsRegular', 'sans-serif';
    text-transform: uppercase;
    /* border-left: 4px solid #000; */
    padding-left: 5px;
    color: #fafafa;
}

.menuContainerNav--woman-submenu-left-menu .styledLinkContent,
.menuContainerNav--woman-submenu-right-menu .styledLinkContent,
.menuContainerNav--man-submenu-left-menu .styledLinkContent,
.menuContainerNav--man-submenu-right-menu .styledLinkContent{
    font-family: 'PoppinsLight';
    line-height: 2.4em;
    color: #000;
    /* border: none; */
}

.submenu--woman-submenu-menu,
.submenu--man-submenu-menu{
    display: block;
}

.submenu--woman-submenu-menu .styledLinkContent,
.submenu--man-submenu-menu .styledLinkContent{
    justify-content: start;
}

.submenu--woman-submenu-menu .styledLinkIcon,
.submenu--man-submenu-menu .styledLinkIcon{
    margin-right: 8px;
}


@media screen and (min-width: 1000px){
    .submenuWrapper--woman-submenu-menu,
    .submenuWrapper--man-submenu-menu{
        width: 900px;
        min-width: 800px;
        height: auto;
        min-height: 250px;
    }   
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .container{
        justify-content: center;
    }
}