.newsletterForm--newsletter-form{
    display: flex;
}

.newsletterForm--newsletter-form .emailInputContainer{
    width: -webkit-fill-available;
    margin-right: 15px;
}

.emailInputContainer :global(.vtex-input-prefix__group){ 
    background-color: #fafafa;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder{
    color: #727273;
}