.infoCardHeadline--info-card-promoBanner{
    font-family: 'DinBold';
    text-transform: uppercase;
}

.infoCardSubhead--info-card-promoBanner{
    font-family: 'DinRegular';
    font-size: 1.25rem;
    color: #464544;
}

.infoCardImage--info-card-promoBanner{
    box-shadow: 1px 1px 2px #cecece;
}