.menuContainerNav--mega-menu-desktop{
    top: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.menuContainer .styledLinkText--mega-menu-desktop{
    font-family: 'PoppinsMedium';
    text-transform: uppercase;
}

.submenuContainer .submenuContainerTitle--mega-menu-desktop{
    font-family: 'PoppinsRegular';
    text-transform: uppercase;
}

.submenuContainer .styledLinkText--mega-menu-desktop{
    font-family: 'PoppinsLight';
    text-transform: capitalize;
}

.seeAllLink--mega-menu-desktop{
    font-family: 'PoppinsRegular';
    text-transform: uppercase;
}