/*MAIN HEADER*/

/*DEPARTMENTS*/
.menuContainerNav--header-departments-menu .styledLink{
    position: relative;
}
.menuContainerNav--header-departments-menu .styledLink::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menuContainerNav--header-departments-menu .styledLink:hover::before{
    transform: scaleX(1);
}

.menuContainerNav--header-departments-menu .styledLinkContent{
    font-family: 'PoppinsRegular', 'sans-serif';
    text-transform: uppercase;
    padding-left: 5px;
    color: #fafafa;
}
/*DEPARTMENTS*/

/*CATEGORIES*/
.menuContainerNav--woman-submenu-left-menu .styledLinkContent,
.menuContainerNav--woman-submenu-right-menu .styledLinkContent,
.menuContainerNav--man-submenu-left-menu .styledLinkContent,
.menuContainerNav--man-submenu-right-menu .styledLinkContent{
    font-family: 'PoppinsLight';
    line-height: 1.6em;
    color: #000;
}

.menuContainer--woman-submenu-left-menu .styledLinkContainer,
.menuContainer--man-submenu-left-menu .styledLinkContainer{
    margin-left: 0;
}

.menuContainer--woman-submenu-left-menu .menuItem,
.menuContainer--man-submenu-left-menu .menuItem{
    position: relative;
    margin-bottom: 6px;
}

.menuContainer--woman-submenu-left-menu .menuItem::before,
.menuContainer--man-submenu-left-menu .menuItem::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menuContainer--woman-submenu-left-menu .menuItem:hover::before,
.menuContainer--man-submenu-left-menu .menuItem:hover::before{
    transform: scaleX(1);
}

/* .menuContainerNav--woman-submenu-left-menu .styledLinkContent,
.menuContainerNav--woman-submenu-right-menu .styledLinkContent,
.menuContainerNav--man-submenu-left-menu .styledLinkContent,
.menuContainerNav--man-submenu-right-menu .styledLinkContent{
    position: relative;
}

.menuContainerNav--woman-submenu-left-menu .styledLinkContent::before,
.menuContainerNav--woman-submenu-right-menu .styledLinkContent::before,
.menuContainerNav--man-submenu-left-menu .styledLinkContent::before,
.menuContainerNav--man-submenu-right-menu .styledLinkContent::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menuContainerNav--woman-submenu-left-menu .styledLinkContent:hover::before,
.menuContainerNav--woman-submenu-right-menu .styledLinkContent:hover::before,
.menuContainerNav--man-submenu-left-menu .styledLinkContent:hover::before,
.menuContainerNav--man-submenu-right-menu .styledLinkContent:hover::before{
    transform: scaleX(1);
} */

.submenu--woman-submenu-menu,
.submenu--man-submenu-menu{
    display: block;
}

.submenu--woman-submenu-menu .styledLinkContent,
.submenu--man-submenu-menu .styledLinkContent{
    justify-content: start;
}

.submenu--woman-submenu-menu .styledLinkIcon,
.submenu--man-submenu-menu .styledLinkIcon{
    margin-right: 8px;
}


/*CATEGORIES*/

/*MAIN MENU*/
.submenuContainer{
    position: unset;
}

.submenuWrapper{
    width: 100%;
    min-width: 100%;
    height: auto;
}
/*MAIN MENU*/

@media screen and (min-width: 320px) and (max-width: 480px){
    .container{
        justify-content: center;
    }
}
/*MAIN HEADER*/