/*FEATURED CATEGORIES*/
.headingLevel4--featured-categories-headline-light,
.headingLevel4--featured-categories-headline-strong{
    margin: 10px 0 5px 0;
}

.headingLevel4--featured-categories-headline-light{
    font-family: 'PoppinsLight';
    font-size: 1.25rem;
}

.headingLevel4--featured-categories-headline-strong{
    font-family: 'PoppinsRegular';
    font-size: 2.25rem;
    text-transform: lowercase;
}

/*FEATURED CATEGORIES*/

.paragraph--highlights-title{
    font-family: 'PoppinsMedium';
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.paragraph--highlights-description{
    font-family: 'PoppinsLight';
    margin-top: 10px;
}

.headingLevel2--section-title-h2{
    margin-bottom: 2%;
}

.paragraph--section-description{
    font-family:'PoppinsLight';
    font-size: 1.25rem;
    margin-top: 1%;
    margin-bottom: 3%;
}

.container--layout-option{
    margin-left: 5px;
}

.paragraph--copyright-text{
    font-size: 0.875rem;
}

.heading--product-detailed-info-title{
    margin: 10px 0;
}

.heading--product-detailed-info-title{
    color: #fafafa;
}

.headingLevel4--product-detailed-info-title{
    font-family: 'PoppinsLight';
    font-size: 1rem;
    text-transform: lowercase;
    color: #000;
}

.headingLevel4--product-detailed-info-title::first-letter{
    text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .heading-level-2{
        font-size: 2rem;
        text-align: center;
    }

    .paragraph--section-description{
        font-size: 1rem;
        line-height: 1.2em;
        margin-top: 15px;
    }

    .headingLevel3--cross-selling-title{
        text-align: center;
    }
}