/*PROMO TOPBAR*/
.flexRow--promo-topbar-row {
    background-color: #000;
    height: 45px;
    max-height: 45px;
}

/*PROMO TOPBAR*/

/*HEADER MAIN*/
.flexRow--main-header-row {
    position: absolute;
    width: 100%;
    top: 45px;
}

/*HEADER MAIN*/

/*HEADER PDP PLP*/
.flexRow--main-header-row-pdp-plp{
    background-color: #222324;
}
/*HEADER PDP PLP*/

/*MENU DRAWER MOBILE*/
.flexColChild--menu-drawer-col :global(.vtex-store-drawer-0-x-menuIcon){
    color: #fff;
}
/*MENU DRAWER MOBILE*/

/*LOGIN COL MOBILE*/
.flexColChild--login-col :global(.vtex-login-2-x-profileIcon--login-mobile){
    color: #fff;    
}
/*LOGIN COL MOBILE*/

/*FEATURED CATEGORIES*/

.flexRow--categories-row{
    background-color: #f1f1f1;
}

.flexRowContent--call-to-action-row .stretchChildrenWidth:nth-child(even) {
    position: absolute;
    -webkit-transition-property: left;
    -webkit-transition-duration: 1s;
    -o-transition-property: left;
    -o-transition-duration: 1s;
    transition-property: left;
    transition-duration: 1s;
    left: 75%;
    top: 50%;
    transform: translate(-25%,-50%);
}

.flexRowContent--call-to-action-row:hover .stretchChildrenWidth:nth-child(even) {
    left: 85%;
}

/*FEATURED CATEGORIES*/

/*TEASER - GIF*/

.flexColChild--teaser-col{
    overflow: hidden;
}

.flexColChild--teaser-col :global(.vtex-store-components-3-x-imageElement--teaser-medium-home-page){
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.flexColChild--teaser-col:hover :global(.vtex-store-components-3-x-imageElement--teaser-medium-home-page){
    transform: scale(1.05);
}
/*TEASER - GIF*/

.flexRow--highlightRow,
.flexRow--footer-copyright {
    background-color: #eae9e9;
}

/*HIGHLIGHTS*/
.flexRow--highlightRow .stretchChildrenWidth {
    padding-left: 3%;
    padding-right: 3%;
}

.flexRow--highlightRow .flexCol {
    background-color: #fafafa;
    padding-top: 4%;
    padding-bottom: 5%;
}

.flexRow--highlightRow .flexCol--highlight-col-shipping,
.flexRow--highlightRow .flexCol--highlight-col-safe-shopping,
.flexRow--highlightRow .flexCol--highlight-col-payment-methods,
.flexRow--highlightRow .flexCol--highlight-col-refund{
    border: 1px solid transparent;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.flexRow--highlightRow .flexCol--highlight-col-shipping:hover{
    background-image: url('assets/images/home/highlights/free-shipping.png');
    background-position: 100% 2%;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    border: 1px solid #000;
    box-shadow: 1px 1px 2px;
}

.flexRow--highlightRow .flexCol--highlight-col-safe-shopping:hover{
    background-image: url('assets/images/home/highlights/shield.png');
    background-position: 100% 2%;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    border: 1px solid #000;
    box-shadow: 1px 1px 2px;
}
.flexRow--highlightRow .flexCol--highlight-col-payment-methods:hover{
    background-image: url('assets/images/home/highlights/credit-card.png');
    background-position: 100% 2%;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    border: 1px solid #000;
    box-shadow: 1px 1px 2px;
}
.flexRow--highlightRow .flexCol--highlight-col-refund:hover{
    background-image: url('assets/images/home/highlights/refund.png');
    background-position: 100% 2%;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    border: 1px solid #000;
    box-shadow: 1px 1px 2px;
} 

/*HIGHLIGHTS*/

/*FEATURED PRODUCTS*/
.flexRow--featured-products-title-row__desktop {
    padding-left: 5%;
}

/*FEATURED PRODUCTS*/

/*FOOTER*/
.flexRowContent--footer-main,
.flexRowContent--footer-logistic-information {
    background-color: #d9d9d9;
}
/*FOOTER*/

/*NEW COLECTION*/
.flexRow--new-collection-section {
    /* background-color: #eae9e9; */
    padding-left: 1%;
    padding-right: 1%;
}

.flexRow--new-collection-button-row {
    background-color: #ffffff;
    padding-bottom: 3%;
}
/*NEW COLECTION*/

/*CATEGORIES*/
.flexRow--categories-row {
    padding-left: 3%;
    padding-right: 3%;
}

.flexRowContent--searchbread-row {
    padding-left: 3%;
}

.flexRow--searchtitle-row {
    padding-left: 3%;
    padding-right: 3%;
}

.flexRow--result-row {
    padding-left: 3%;
    padding-right: 3%;
}

.flexColChild--summary-right-list-desktop-col {
    margin: 5px;
}

.flexColChild--summary-right-list-desktop-col :global(.vtex-button) {
    min-height: 1.2rem;
    width: 70%;
}

.flexColChild--summary-right-list-desktop-col :global(.vtex-button__label) {
    padding-top: .32em;
    padding-bottom: .32em;
    padding-left: .25em;
    padding-right: .25em;
}

.flexRowContent--summary-list-desktop-row {
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.flexCol--summary-list-desktop-col {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.flexCol--summary-details-list-desktop {
    border-right: 1px solid #e6e6e6;
}

.flexColChild--product-discount-percentage-col {
    background: #666;
    height: auto;
    text-align: center;
    color: #fafafa;
    padding: 5px;
    max-width: 60px;
}

.flexRowContent--product-savings-price-col .stretchChildrenWidth {
    padding-right: 0px;
}

.flexColChild--product-list-price-col {
    max-width: 100px;
}

.flexColChild--shipping-simulator-col :global(.vtex-dropdown__label) {
    font-size: 1rem;
    margin-bottom: 12px;
    color: #979899;
}

.flexRowContent--fetchmore-row :global(.vtex-button) {
    border-radius: 0;
}

.flexRow--add-to-cart-button-pdp :global(.vtex-button) {
    border-radius: 0;
}

.flexCol--main-info-product-main-col {
    padding: 6% 2% 6% 1%;
}

.flexCol--product-detailed-information-col-disclosure {
    padding-left: 0;
}

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .flexRowContent--categories-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .flexRowContent--footer-main {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 3%;
        padding-right: 3%;
    }

    .flexRowContent--product-name-row {
        margin-top: 1.5rem;
    }

    .flexRow--product-images-row-mobile {
        margin-bottom: 30px;
    }

    .flexCol--product-selling-price-col {
        text-align: center;
    }

    .flexRowContent--call-to-action-row .stretchChildrenWidth:nth-child(even){
        width: 35% !important;
    }
}