/*MAIN MENU*/
.headingLevel2--woman-department-title,
.headingLevel2--man-department-title{
    font-size: 1.8rem;
    margin: 0px 0px 20px 5px;
    border-bottom: 1px solid #000;
}
/*MAIN MENU*/

/*FEATURED CATEGORIES*/
.headingLevel4--featured-categories-headline-light,
.headingLevel4--featured-categories-headline-strong{
    margin: 10px 0 5px 0;
}

.headingLevel4--featured-categories-headline-light{
    font-family: 'PoppinsLight';
    font-size: 1.25rem;
}

.headingLevel4--featured-categories-headline-strong{
    font-family: 'PoppinsRegular';
    font-size: 2.25rem;
    text-transform: lowercase;
}
/*FEATURED CATEGORIES*/

/*FEATURED PRODUCTS*/
.headingLevel2--featured-products-title__desktop{
    font-family: 'PoppinsLight';
}
/*FEATURED PRODUCTS*/

.paragraph--highlights-title{
    font-family: 'PoppinsMedium';
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.paragraph--highlights-description{
    font-family: 'PoppinsLight';
    margin-top: 10px;
}

.headingLevel2--section-title-h2{
    margin-bottom: 2%;
}

.paragraph--section-description{
    font-family:'PoppinsLight';
    font-size: 1.25rem;
    margin-top: 1%;
    margin-bottom: 3%;
}

.container--layout-option{
    margin-left: 5px;
}

.paragraph--copyright-text{
    font-size: 0.875rem;
}

.heading--product-detailed-info-title{
    margin: 10px 0;
}

.heading--product-detailed-info-title{
    color: #fafafa;
}

.headingLevel4--product-detailed-info-title{
    font-family: 'PoppinsLight';
    font-size: 1rem;
    text-transform: lowercase;
    color: #000;
}

.headingLevel4--product-detailed-info-title::first-letter{
    text-transform: uppercase;
}

/*DATA TREATMENT, PRIVACY POLICY & PURCHAISING POLICIES*/
.wrapper--data-treatment-text .heading-level-1,
.wrapper--privacy-text .heading-level-1,
.wrapper--purchasing-policies-text .heading-level-1{
    font-size: 2rem;
    text-align: center;
}

.wrapper--data-treatment-text .heading-level-2,
.wrapper--privacy-text .heading-level-2,
.wrapper--purchasing-policies-text .heading-level-2{
    font-size: 1.2rem;
}

.wrapper--data-treatment-text .paragraph,
.wrapper--data-treatment-text .listItem,
.wrapper--privacy-text .paragraph,
.wrapper--privacy-text .listItem, 
.wrapper--purchasing-policies-text .paragraph,
.wrapper--purchasing-policies-text .listItem {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6em;
}
/*DATA TREATMENT, PRIVACY POLICY & PURCHAISING POLICIES*/

@media screen and (min-width: 320px) and (max-width: 480px){
    .heading-level-2{
        font-size: 2rem;
        text-align: center;
    }

    .paragraph--section-description{
        font-size: 1rem;
        line-height: 1.2em;
        margin-top: 15px;
    }

    .headingLevel3--cross-selling-title{
        text-align: center;
    }

    .headingLevel4--featured-categories-headline-strong{
        font-size: 2rem;
        text-align: center;
        margin: 5px 0px;
    }
}