.container--sticky-header-mobile{
    background-color: #eae9e9;
}

.wrapper--sticky-header .container--sticky-header{
    background-color: rgba(255,255,255,0.1);
    transition: background-color .5s ease-in;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.wrapper--sticky-header--stuck .container--sticky-header{
    background-color: #222324;
}