.flexRow--promo-topbar-row{
    background-color: #000;
}
.flexRow--highlightRow{
    background-color: #eae9e9;
}
.flexRow--highlightRow .stretchChildrenWidth{
    padding-left: 3%;
    padding-right: 3%;
}
.flexRow--highlightRow .flexCol{
    background-color: #fafafa;
    padding-top: 4%;
    padding-bottom: 5%;
}