/*HEADER HOME*/
.wrapper--sticky-header .container--sticky-header{
    background-color: rgb(0 0 0 / 58%);
    transition: background-color .5s ease-in;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.wrapper--sticky-header--stuck .container--sticky-header{
    background-color: #222324;
}
/*HEADER HOME*/

/*HEADER PDP PLP*/
.container--sticky-header-pdp-plp{
    background-color: #222324;
}
/*HEADER PDP PLP*/

/*HEADER MOBILE*/
.container--sticky-header-mobile{
    background-color: #222324;
    /* display: none; */
}
/*HEADER MOBILE*/