@font-face {
    font-family: 'DinLight';
    src: url(assets/fonts/Din/DIN-Light.ttf), url(assets/fonts/Din/DIN-Light.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'DinRegular';
    src: url(assets/fonts/Din/DIN-Regular.ttf), url(assets/fonts/Din/DIN-Regular.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'DinMedium';
    src: url(assets/fonts/Din/DIN-Medium.ttf), url(assets/fonts/Din/DIN-Medium.woff);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'DinBold';
    src: url(assets/fonts/Din/DIN-Bold.ttf), url(assets/fonts/Din/DIN-Bold.woff);
    font-style: normal;
    font-weight: bold;
}


@font-face {
    font-family: 'PoppinsLight';
    src: url(assets/fonts/Poppins/Poppins-Light.ttf), url(assets/fonts/Poppins/Poppins-Light.woff);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf), url(assets/fonts/Poppins/Poppins-Regular.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf), url(assets/fonts/Poppins/Poppins-Medium.woff);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf), url(assets/fonts/Poppins/Poppins-Bold.woff);
    font-style: normal;
    font-weight: bold;
}